@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.page-body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #fff;
}

.container {
  background-color: #fe4646;
  border-radius: 20px;
}

.header {
  height: 64px;
  background-color: #ffffff;
  margin: 0;
}

/* Header */
.header-container {
  background: rgb(255, 255, 255);
  color: black;
  margin: 0 80px 0 83px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.burger-menu {
  display: none;
}

main {
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  padding: 18px 20px 20px 20px;
}

.header-container a {
  text-decoration: none;
  color: black;
}

.logo img {
  height: 24px;
  margin-right: 8px;
}

.gifts {
  letter-spacing: 0.8px;
}

.nav a, .nav span {
  color: black;
  text-decoration: none;
  margin: 0 3.5px;
  font-size: 12px;
  padding: 11px 20px;
  border-radius: 10px;
  letter-spacing: 0.2px;
  list-style: none;
}

.nav span {
  background-color: #feeded;
  color: #fe4646;
}

.nav a:hover {
  background-color: #feeded;
}

/* Hero Section */
.hero {
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./images/bg-garland.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
}

.hero h1, .hero p {
  margin: 0;
}

.container {
 margin: 0;
}

.hero-content {
  padding: 60px 0 0 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 48.5px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.hero-content span {
  margin: 0 0 0 10px;
  letter-spacing: 5.8px;
}

.category {
  padding: 22.5px 0 19px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ffffff;
  margin: 0 15px 0 0;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.category-title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 14px 20px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.category :nth-child(1) {
  background-color: #ffffff47;
  border-radius: 10px;
  cursor: default;
}

.category-title:hover {
  background-color: #ffffff47;
  border-radius: 10px;
}

/* Best Gifts Section */
.best-gifts {
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 0 20px 58px 20px;
  color: #ffffff;
}

/* Grid Styling for Gifts */
.gift-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Fixed 4 columns */
  justify-content: center;
  padding: 0 98px;
  gap: 12px;
}

.gift {
  width: 310px;
  height: 342px;
  background-color: #ebf2f8;
  border-radius: 20px;
  display: flex;
  flex-direction: column; 
  text-decoration: none;
}

.gift img {
  width: 100%;
  height: 230px;
  object-fit: cover; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: filter 0.3s ease;
}

/* .gift:hover img {
  filter: brightness(0.8);
} */

.gift:hover div{
  color: #fe4646;
}

.description {
  width: 100%;
  height: 112px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 7px 0 0 20px; 
  border-radius: 20px;
  box-sizing: border-box;
}

.gift h3 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin: 12px 0 11px 0;
}

.gift .one h3 {
  color: #5064d0;
}

.gift .two h3 {
  color: #3f9066;
}

.gift .three h3 {
  color: #5064d0;
}

.gift .four h3 {
  color: #cd71cb;
}

.gift .four div {
  line-height: 22px;
}

.gift div {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

/* General Footer Styles */
.footer {
  padding: 60px 10px;
  color: #090909;
  text-align: center;
}

.footer-container {
  max-width: 1275px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 13px;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  text-align: center;
  background-color: #ebf2f8;
  flex: 1;
  height: 204px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease; 
  cursor: pointer; 
}

/* Entire card clickable */
.footer-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Card content */
.footer-link img {
  width: auto;
  height: 80px;
  padding: 20px 0 13px 0;
}

.footer-text div {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  padding: 0 0 16px 0;
}

.footer-text span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.45px;
}

/* Hover effect */
/* .footer-link:hover {
  background-color: #cbe2df; 
} */

.footer-link:hover .footer-text {
  color: #fe4646; /* Change text color */
}

.footer-link:hover span {
  color: #fe4646; /* Change span color */
}

.footer-social {
  margin: 69px 0 18px 0;
}

.footer-social a {
  margin: 0 12px;
  text-decoration: none;
}

.footer-social img {
  width: auto;
  height: 24px;
  transition: filter 0.3s ease;
}

.footer-social a:hover img {
  filter: invert(21%) sepia(96%) saturate(1700%) hue-rotate(-5deg) brightness(96%) contrast(116%);
}

.footer p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 10px 0;
}

.made {
  font-family: "Allura", cursive;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin: 2px 0 0 0;
}

.made a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.made a:hover {
  color: #fe4646;
}

/* Media Queries */
@media (max-width: 1300px) {
  .gift-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .gift-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    align-items: center;
    }
}

@media (max-width: 1060px) {

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 9px 0 9px;
  }

    .burger-menu {
      display: flex;
      cursor: pointer;
    }

    .nav {
      display: none;
    }

    .footer-links {
      flex-direction: column;
      gap: 20px;
    }
  
    .footer-link {
      max-width: 100%;
    }

    .footer-text {
      padding-bottom: 20px;
    }
}

@media (max-width: 780px) {

  .category-title:hover {
    background-color: transparent;
    border-radius: 10px;
  }
  
  .gift-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    padding: 0 60px;
    gap: 12px;
    }

    .gift:hover div{
      color: black;
    }

    .description {
      padding: 9px 0 0 20px;
      }
    
  .footer-text span {
    margin-bottom: 22px;
  }

  .footer-links {
    gap: 13px;
  }

  .footer-social {
    margin-top: 71px;
  }

  .footer-link:hover .footer-text {
    color: black;
  }
  
  .footer-link:hover span {
    color: black;
  }

  .made {
    margin: 1px 0 0 0;
  }

  .made a:hover {
    color: black;
  }
}

@media (max-width: 650px) { 

  .gift-list {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    }
}

@media (max-width: 480px) { 

  .header-container {
    margin: 0 9px 0 9px;
  }

  .hero {
    padding: 0;
    margin: 0;
  }

  .hero h1{
    margin: 0 10px;
  }

  .hero-content span {
    margin-left: 6px;
  }

  .category {
    gap: 0;
  }
  
  .category-title {
    padding: 15px 8px;
  }

  .best-gifts {
    padding: 95px 0 60px 0;
  }

  .gift-list {
    grid-template-columns: 1fr; /* 1 gift per row */
  }

  .description {
    padding: 9px 0 0 20px;
    }

  .gift .four div {
    line-height: 23px;
  }

  .footer-links {
    gap: 13px;
  }

  .footer-text div {
    letter-spacing: 4px;
    margin-left: 2px;
  }

  .made {
  margin: -1px 0 0 0;
  }
}