.message-container {
  width: 100%;
  padding: 2px 0;
  transition: all 1s;
}

.message-content {
  width: 50%;
  min-width: 235px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 5px;
  margin-bottom: 10px;
  background-color: rgba(240, 237, 237, 0.878);
  color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 4px var(--box-shadow);
}

.message-content[data-user='current'] {
  margin-left: auto;
  background-color: rgba(207, 243, 211, 0.8);
}

.message[data-sender="system"] {
  background-color: #f0f0f0;
  color: #666;
  align-self: center;
  font-style: italic;
  border-left: 3px solid #ccc;
}

.message-header {
  width: 96%;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  font-size: 0.7rem;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-text {
  background: linear-gradient(315deg, #d4d4d4 0%, #cfc0ca 74%) fixed;
  border-radius: 5px;
  box-shadow: 0px 0px 3px var(--beige-color);
  padding: 5px;
  font-size: 13px;
  word-wrap: break-word; white-space: pre-wrap; 
  overflow-wrap: break-word;
}

.message-footer {
  width: 96%;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  font-size: 0.7rem;
  justify-content: space-between;
  padding-top: 8px;
  margin: auto;
}

.edit-message-wrap {
  display: flex;
  gap: 10px;
}
.delete-message,
.edit-message {
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0.2;
  pointer-events: none;
}

.edit-message-wrap[data-user='current'] .delete-message,
.edit-message-wrap[data-user='current'] .edit-message {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.delete-message {
  background: url('../../../assets/delete.png') 0 0 / 100% 100% no-repeat;
}

.edit-message {
  background: url('../../../assets/edit.png') 0 0 / 100% 100% no-repeat;
}

.message-footer-status-wrap {
  display: flex;
  gap: 10px;
}
